{% extends "base.html" %}

{% load static %}
{% block title %}
    Главная страница
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h1>Добро пожаловать на платформу подготовки к ЕГЭ по математике</h1>

    <!-- Генератор вариантов -->
    <section>
        <h2>Генератор вариантов</h2>
        <p>
            Здесь вы можете сгенерировать случайный вариант экзамена, состоящий из 19 заданий:
            первая часть (задания 1–12) и вторая часть (задания 13–19).
        </p>
        <a href="{% url 'tasks:generate_variant' subject=subject %}" class="btn">Сгенерировать вариант</a>
    </section>

    <hr>

    <!-- Генератор случайных заданий -->
    <section>
        <h2>Генератор случайных заданий</h2>
        <p>
            Здесь вы можете генерировать случайные задания из "Банка заданий" с возможностью фильтрации
            по темам, подтемам, линиям и частям экзамена.
        </p>
        <a href="{% url 'tasks:generate_task' subject=subject %}" class="btn">Перейти к генерации заданий</a>
    </section>
{% endblock %}